* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.WholeBody {
    font-family: 'Open Sans', sans-serif;
    background-color: #105091;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f5ebeb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39, 13, 240, 0.2);
    color: #0d0404;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #0a0af1;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
    font-size: 18px;
  }

  input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    background-color: #fffafa;
  }

  button {
    padding: 10px;
    background-color: #0a15f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
  }

  button:hover {
    background-color: #2509fc;
  }

  a {
    text-decoration: none;
    color: #1e09dc;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: #8c5fb2;
  }

  p {
    text-align: center;
    margin: 8px;
  }